body {
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-left: 420px;
        padding-right: 420px;
        background-color:#060b0f;
}

div {   display: flex;
        flex-direction: column;

}

.header, .footer  {

        background-color: #1F2937;
}

.header {
    height: 500px;
    padding: 20px 200px 20px 200px;
    

}

.hbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;

}

.hlink{
    
    list-style: none;
    display: inline-flex;
    margin: 0 10px 0 10px;
    
    
}

.hlink>a { color: #F9FAF8;
            text-decoration: none;

}

.hlink>a:hover {
        color:#3882F6 ;
}


.hero {display: flex;
        flex-direction: row;
        column-gap: 300px;
        padding-bottom: 100px;
        justify-content: center;
        align-items: center;

}

.container { display: flex;
            flex-direction: column;
            flex: none;
            width: 500px;
            justify-content: center;
            margin-left: 100px;
        

}


.pano{ 
        width: 625px;
        height: 280px;
        display: flex;
        flex: none;
        margin-left: -100px;
    
    }

.blue{
        background-color: #3882F6;
        color: #f9faf8;
        width: 120px;
        height: 40px;
        border-radius: 15px;
        font-weight: 1000;
        font-size: 14px;
        
      
}    

.blue:hover {
        background-color:#0946a9;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 1000;
    padding-top: 15px;
}

.hlink, .subtext {
        font-size: 18px;
        color: #E5E7EB;
}



.title {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;


}

.information{
    background-color: #F9FAF8;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.infohead{
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    text-align: center;
    padding: 15px;

}

.infobody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    

}

.square1, .square2, .square3, .square4{
            height: 200px;
            width: 200px;
                
}

.infobody .caption {
    text-align: center;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    color: #1F2937;
    font-weight: 500;

}


.quote {
    box-sizing: border-box;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color:#545f6d;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    padding: 130px 400px 0px 430px;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}

.thor{ font-size: 26px;
        font-weight: 800;
        font-style: normal;
        color: #1F2937;
        padding-left: 400px;
        display: flex;
        flex: auto;
}

.signbox{
    box-sizing: border-box;
    background-color:#F9FAF8;
    height: 320px;
    padding: 80px 250px 80px 250px;


}

.boxsign{
    background-color: #3882F6;
    box-sizing: border-box;
    border-radius: 12px;
    height: 150px;
    padding: 50px 150px 50px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.callto{
    color: #F9FAF8;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.signup{
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 100;

}

.upsign{
    width: 130px;
    height: 40px;
    border-radius: 12px;
    background-color: #3882F6;
    border-color: #F9FAF8;
    color: #F9FAF8;
    border-width: 3px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    border-style:groove;
    
}

.upsign:hover {
    color:#79a5ec;
    border-color:#79a5ec;
    background-color:#F9FAF8;

}

.footer {
    box-sizing: border-box;
    height: 100px;
    color:#F9FAF8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}